@import '@styles/base';

.ShorteningBoxWrapper {
  box-sizing: border-box;
  width: 82rem;
  max-width: 100%;
  height: 8rem;
  border-radius: 0.5rem;
  background: url(../../static//images/bg-boost-desktop.svg) var(--color-shorten) no-repeat;
  background-size: cover;
  @include directionX;
  align-items: center;
  justify-content: start;
  padding: 0 2rem;
  gap: 1rem;

  .Input {
    width: 70rem;
  }

  .Button {
    background-color: var(--color-button-cyan);
    border: none;
    width: 10rem;
    padding: 0.8rem 0rem;
    border-radius: 0.6rem;
    color: $color-white;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .Button:hover {
    background-color: hsl(180, 74%, 54%);
  }
  .Button:active {
    position: relative;
    top: 1px;
  }
}

@media (max-width: 768px) {
  .ShorteningBoxWrapper {
    width: 20rem;
    max-width: 100%;
    height: 10rem;
    @include directionY;
    justify-content: center;

    .Input {
      width: 17rem;
    }

    .Button {
      width: 17rem;
    }
  }
}
